<!-- Add it to the plugin.xml -->
<extensions defaultExtensionNs="com.intellij">
    <intentionAction>
        <className>org.jetbrains.astrid.actions.SuggestionIntentionAction</className>
        <category>Suggestions list</category>
        <descriptionDirectoryName>SuggestionIntentionAction</descriptionDirectoryName>
    </intentionAction>

    <inspectionToolProvider implementation="org.jetbrains.astrid.inspections.method.MethodNamesProvider"/>
    <inspectionToolProvider implementation="org.jetbrains.astrid.inspections.ifstatement.IfStatementProvider"/>

    <applicationService serviceImplementation="org.jetbrains.astrid.stats.RenameMethodStatistics"/>
</extensions>